.feedback-form-child {
  position: absolute;
  top: 60px;
  left: 282px;
  border-radius: var(--br-4xl);
  background-color: rgba(255, 255, 255, 0.84);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 877px;
  height: 753px;
}
.we-would-like {
  position: absolute;
  top: 230px;
  left: calc(50% - 162px);
}
.please-select-your1 {
  position: absolute;
  top: 410px;
  left: 417px;
}
.please-leave-your {
  position: absolute;
  top: 571px;
  left: 421px;
}
.what-is-you {
  position: absolute;
  top: 277px;
  left: calc(50% - 101px);
}
.stud-2-removebg-preview-2-icon15 {
  position: absolute;
  top: 87px;
  left: 312px;
  width: 176px;
  height: 88px;
  object-fit: cover;
  cursor: pointer;
}
.your-feedback {
  position: absolute;
  top: 106px;
  right: 357px;
  font-size: var(--font-size-21xl);
}
.feedback-form-child1,
.feedback-form-inner,
.feedback-form-item {
  position: absolute;
  width: 41.6%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  height: 1px;
}
.feedback-form-item {
  top: 212.95px;
  right: 29.2%;
  left: 29.2%;
}
.feedback-form-inner {
  top: 389.5px;
  right: 29.48%;
  left: 28.92%;
}
.feedback-form-child1 {
  top: 550.5px;
  right: 29.2%;
  left: 29.2%;
}
.vector-icon23 {
  position: relative;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.vector-parent {
  position: absolute;
  top: 315px;
  left: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.feedback-form-child2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-dimgray-200);
  position: absolute;
  top: 441px;
  left: calc(50% - 302px);
  border-radius: var(--br-3xl);
  width: 165px;
  height: 82px;
}
.suggestion {
  position: absolute;
  top: 473px;
  left: calc(50% - 265px);
}
.feedback-form-child3 {
  position: absolute;
  top: 441px;
  left: calc(50% - 82px);
  border-radius: var(--br-3xl);
  background-color: var(--color-dimgray-200);
  width: 165px;
  height: 82px;
}
.report-a-bug {
  position: absolute;
  top: 473px;
  left: calc(50% - 50px);
}
.feedback-form-child4 {
  position: absolute;
  top: 441px;
  left: calc(50% + 138px);
  border-radius: var(--br-3xl);
  background-color: var(--color-dimgray-200);
  width: 165px;
  height: 82px;
}
.compliment {
  position: absolute;
  top: 473px;
  left: calc(50% + 174px);
}
.feedback-form-child5 {
  border: 0;
  background-color: rgba(106, 102, 102, 0.12);
  position: absolute;
  width: 42.92%;
  top: 596px;
  right: 28.54%;
  left: 28.54%;
  border-radius: var(--br-10xl);
  height: 136px;
}
.feedback-form-child6 {
  position: absolute;
  top: 761px;
  right: 421px;
  border-radius: var(--br-4xl);
  background: linear-gradient(135deg, #52e5e7, #130cb7);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 113px;
  height: 29px;
}
.send {
  position: absolute;
  top: 767px;
  right: 458px;
}
.feedback-form {
  position: relative;
  width: 100%;
  height: 873px;
  overflow: hidden;
  background-image: url(./public/feedback-form@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-cabin);
}
