.stud-2-removebg-preview-2-icon {
  position: absolute;
  top: 32px;
  left: 136px;
  width: 249px;
  height: 88px;
  object-fit: cover;
  cursor: pointer;
}
.get-started-child {
  position: absolute;
  width: 100%;
  top: 944px;
  right: 0;
  left: 0;
  background-color: var(--color-gainsboro-100);
  height: 80px;
}
.facebook-logo-removebg-preview-icon,
.twitter-logo-2 {
  position: absolute;
  top: 960px;
  left: 237px;
  width: 48px;
  height: 48px;
  object-fit: cover;
}
.twitter-logo-2 {
  top: 966px;
  left: 285px;
  width: 39px;
  height: 39px;
}
.copyright-2023 {
  position: absolute;
  top: 972px;
  right: 55px;
  display: inline-block;
  width: 308px;
  height: 41px;
}
.terms-conditions {
  right: 253px;
}
.follow-us,
.privacy-statement,
.terms-conditions {
  position: absolute;
  top: 972px;
  display: inline-block;
  width: 308px;
  height: 41px;
}
.privacy-statement {
  right: 444px;
}
.follow-us {
  left: 119px;
  color: var(--color-gray-1100);
}
.instagram-logo-removebg-previe-icon {
  position: absolute;
  top: 957px;
  left: 313px;
  width: 67px;
  height: 58px;
  object-fit: cover;
}
.get-started-inner,
.get-started-item {
  position: absolute;
  top: 330px;
  border-radius: var(--br-4xl);
  background-color: var(--color-gainsboro-700);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 460px;
  height: 457px;
}
.get-started-item {
  left: 150px;
}
.get-started-inner {
  left: 831px;
}
.removebg-preview-1-icon,
.removebg-preview-1-icon1 {
  position: absolute;
  top: 396px;
  left: 252px;
  width: 257px;
  height: 231px;
  object-fit: cover;
}
.removebg-preview-1-icon1 {
  top: 403px;
  left: 947px;
  width: 229px;
  height: 210px;
}
.get-started-child1,
.rectangle-div {
  position: absolute;
  top: 665px;
  border-radius: var(--br-4xl);
  background-color: var(--color-cornflowerblue);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 420px;
  height: 81px;
}
.rectangle-div {
  left: 170px;
}
.get-started-child1 {
  left: 851px;
}
.employer {
  top: 682px;
}
.employer,
.get-started1,
.worker {
  position: absolute;
  font-size: var(--font-size-21xl);
  font-weight: 600;
  color: var(--color-black);
}
.worker {
  top: 682px;
  left: 304px;
}
.employer {
  left: 970px;
}
.get-started1 {
  top: 170px;
  left: 617px;
  display: inline-block;
  width: 226px;
  height: 48px;
}
.get-started {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-maroon);
  font-family: var(--font-inter);
}
