.stud-2-removebg-preview-2-icon3 {
  position: absolute;
  top: 32px;
  left: 136px;
  width: 176px;
  height: 88px;
  object-fit: cover;
  cursor: pointer;
}
.home2 {
  left: 388px;
}
.home2,
.jobs-and-internships2,
.my-jobs2,
.reports2 {
  position: absolute;
  top: 76px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.jobs-and-internships2 {
  left: 478px;
}
.my-jobs2 {
  left: 692px;
}
.reports2 {
  left: 813px;
}
.payment-paypal-child {
  position: absolute;
  top: 73px;
  left: 929px;
  border-radius: var(--br-3xl);
  background-color: var(--color-gainsboro-600);
  width: 362px;
  height: 30px;
}
.search-jobs2 {
  position: absolute;
  top: 82px;
  left: 959px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-500);
  display: inline-block;
  width: 96px;
  height: 13px;
}
.vector-icon4 {
  position: absolute;
  height: 2.41%;
  width: 1.53%;
  top: 8.4%;
  right: 6.45%;
  bottom: 89.19%;
  left: 92.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment-paypal-item,
.vector-icon5 {
  position: absolute;
  top: 60px;
  left: 1343px;
  width: 52px;
  height: 44px;
}
.vector-icon5 {
  height: 3.32%;
  width: 2.5%;
  top: 7.3%;
  right: 2.28%;
  bottom: 89.38%;
  left: 95.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.billing-and-payment4 {
  position: absolute;
  top: 167px;
  display: inline-block;
  height: 39px;
}
.billing-and-payment4,
.billing-and-payment5 {
  font-size: var(--font-size-14xl);
}
.billing-and-payment5,
.billing-info2,
.payment2,
.settings2 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.settings2 {
  top: 167px;
  left: 162px;
  font-size: var(--font-size-14xl);
  width: 123px;
}
.billing-and-payment4,
.billing-and-payment5 {
  left: 442px;
  width: 437px;
}
.payment2 {
  width: 437px;
}
.billing-and-payment5 {
  top: 168px;
}
.payment2 {
  top: 262px;
  left: 467px;
  font-size: var(--font-size-9xl);
}
.billing-info2 {
  top: 503px;
  left: 520px;
  font-size: var(--font-size-5xl);
  width: 122px;
}
.full-name2 {
  top: 549px;
  left: 490px;
  width: 167px;
  height: 39px;
}
.batangas4,
.full-name2,
.mark-vincent-gallemit3 {
  position: absolute;
  display: inline-block;
}
.mark-vincent-gallemit3 {
  top: 585px;
  left: 502px;
  color: var(--color-gray-1000);
  width: 251px;
  height: 39px;
}
.batangas4 {
  top: 672px;
}
.batangas4,
.batangas5,
.philippines2 {
  left: 502px;
  color: var(--color-gray-1000);
  width: 167px;
  height: 39px;
}
.batangas5 {
  position: absolute;
  top: 758px;
  display: inline-block;
}
.philippines2 {
  top: 845px;
}
.billing2,
.div9,
.philippines2,
.user-settings2 {
  position: absolute;
  display: inline-block;
}
.div9 {
  top: 758px;
  left: 682px;
  color: var(--color-gray-1000);
  width: 167px;
  height: 39px;
}
.billing2,
.user-settings2 {
  top: 234px;
  left: 162px;
  font-size: var(--font-size-26xl);
  width: 158px;
  height: 41px;
}
.user-settings2 {
  top: 389px;
}
.payment-paypal-inner {
  position: absolute;
  top: 312.48px;
  left: 162px;
  border-right: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1px;
  height: 53.02px;
}
.payment-paypal-child1 {
  position: absolute;
  top: 505.98px;
  left: 161px;
  width: 1.5px;
  height: 289.02px;
}
.billing-payments2 {
  position: absolute;
  top: 327px;
  left: 178px;
  font-size: var(--font-size-xl);
  color: var(--color-blue-300);
}
.contact-info2 {
  top: 516px;
}
.contact-info2,
.my-profile2,
.notification-settings2,
.profile-settings2,
.tax-information2 {
  position: absolute;
  left: 178px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.tax-information2 {
  top: 574px;
}
.notification-settings2 {
  top: 761px;
}
.my-profile2 {
  top: 636px;
  cursor: pointer;
}
.profile-settings2 {
  cursor: pointer;
  top: 701px;
}
.payment-paypal-child2 {
  position: absolute;
  top: 244px;
  left: 432px;
  border-radius: var(--br-10xl);
  width: 882px;
  height: 730px;
}
.payment-paypal-child3 {
  position: absolute;
  top: 575px;
  left: 490px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.account-name1 {
  position: absolute;
  top: 549px;
  left: 930px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.div10 {
  width: 167px;
}
.div10,
.mark-vincent-gallemit4 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.div10 {
  top: 672px;
  left: 944px;
}
.mark-vincent-gallemit4 {
  top: 585px;
  left: 942px;
  color: var(--color-gray-1000);
  width: 215px;
}
.payment-paypal-child4 {
  position: absolute;
  top: 575px;
  left: 930px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.billing-address2 {
  position: absolute;
  top: 636px;
  left: 490px;
  display: inline-block;
  width: 167px;
}
.payment-paypal-child5 {
  position: absolute;
  top: 662px;
  left: 490px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.div11,
.phone-number2 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.div11 {
  top: 672px;
  left: 980px;
  color: var(--color-gray-1000);
  width: 216px;
}
.phone-number2 {
  top: 636px;
  left: 929px;
  width: 167px;
}
.payment-paypal-child6 {
  position: absolute;
  top: 662px;
  left: 929px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.city2,
.zip-code2 {
  position: absolute;
  top: 722px;
  left: 490px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.zip-code2 {
  left: 670px;
}
.payment-paypal-child7,
.payment-paypal-child8 {
  position: absolute;
  top: 748px;
  left: 490px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.payment-paypal-child8 {
  top: 749px;
  left: 670px;
  width: 183px;
}
.country2 {
  position: absolute;
  top: 808px;
  left: 490px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.payment-paypal-child9 {
  position: absolute;
  top: 834px;
  left: 490px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.gmail2,
.samplegmailcom2 {
  position: absolute;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.samplegmailcom2 {
  top: 759px;
  left: 942px;
  color: var(--color-gray-1000);
}
.gmail2 {
  top: 722px;
  left: 930px;
}
.payment-paypal-child10 {
  position: absolute;
  top: 748px;
  left: 930px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.marked-icon2 {
  left: 668px;
}
.marked-icon2,
.payment-paypal-child11,
.payment-paypal-child12,
.payment-paypal-child13 {
  position: absolute;
  top: 348px;
  border-radius: var(--br-5xs);
  width: 188px;
  height: 110px;
}
.payment-paypal-child11 {
  left: 459px;
  cursor: pointer;
}
.payment-paypal-child12,
.payment-paypal-child13 {
  cursor: pointer;
}
.payment-paypal-child12 {
  left: 879px;
}
.payment-paypal-child13 {
  left: 1089px;
}
.choose-payment-below2 {
  position: absolute;
  top: 304px;
  left: 467px;
  font-size: var(--font-size-lgi);
  color: var(--color-gray-900);
  display: inline-block;
  width: 196px;
  height: 24px;
}
.gcash2,
.paypal2 {
  font-size: var(--font-size-lgi);
  width: 68px;
}
.paypal2 {
  position: absolute;
  top: 417px;
  left: 733px;
  display: inline-block;
  height: 24px;
}
.gcash2 {
  top: 416px;
  left: 948px;
}
.creditdebit-card2,
.gcash2,
.money-remittance-center2 {
  position: absolute;
  color: var(--color-gray-900);
  display: inline-block;
  height: 24px;
}
.creditdebit-card2 {
  top: 420px;
  left: 481px;
  font-size: var(--font-size-lgi);
  width: 142px;
}
.money-remittance-center2 {
  top: 422px;
  left: 1102px;
  width: 185px;
}
.gcashlogo1-vector-gcash-logo-h-icon2 {
  position: absolute;
  top: 356px;
  left: 901px;
  width: 144.15px;
  height: 70px;
  object-fit: cover;
}
.download-removebg-preview-remo-icon2 {
  position: absolute;
  top: 340px;
  left: 1133px;
  width: 102.94px;
  height: 84px;
  object-fit: cover;
}
.payment-paypal-child14,
.paypal-accout {
  position: absolute;
  top: 503px;
  left: 478px;
  width: 33px;
  height: 33px;
}
.paypal-accout {
  top: 505px;
  left: 960px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 197px;
  height: 39px;
}
.payment-paypal-child15 {
  position: absolute;
  top: 503px;
  left: 919px;
  width: 33px;
  height: 33px;
}
.div12,
.div13 {
  position: absolute;
  top: 504px;
  left: 490px;
  font-size: var(--font-size-6xl);
}
.div13 {
  left: 929px;
}
.payment-paypal-child16 {
  position: absolute;
  top: 898.5px;
  left: 789.5px;
  border-radius: var(--br-31xl);
  width: 210px;
  height: 60px;
  cursor: pointer;
}
.proceed2 {
  position: absolute;
  top: 913px;
  left: 849px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-white);
  width: 136px;
  height: 10px;
}
.payment-paypal-child17 {
  position: absolute;
  top: 833.5px;
  left: 1075.5px;
  border-radius: var(--br-3xs);
  width: 120px;
  height: 48px;
  cursor: pointer;
}
.link1 {
  position: absolute;
  top: 844px;
  left: 1115px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-white);
  width: 102px;
  height: 8px;
}
.image-6-icon2 {
  position: absolute;
  top: 668px;
  left: 822px;
  width: 26px;
  height: 28px;
  object-fit: cover;
}
.icon2,
.screenshot-2023-03-21-090634-r-icon2 {
  position: absolute;
  top: 361px;
  left: 694px;
  width: 141.61px;
  height: 70px;
  object-fit: cover;
}
.screenshot-2023-03-21-090634-r-icon2 {
  top: 348px;
  left: 503px;
  width: 99.66px;
}
.you-will-be1 {
  margin: 0;
}
.you-will-be-container1 {
  position: absolute;
  top: 805px;
  left: 934px;
  color: var(--color-gray-600);
}
.image-14-icon {
  position: absolute;
  top: 835px;
  left: 955px;
  width: 121px;
  height: 38px;
  object-fit: cover;
}
.payment-paypal {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-cabin);
}
