.payment-card-child {
  position: absolute;
  top: 348px;
  left: 458px;
  border-radius: var(--br-5xs);
  width: 188px;
  height: 110px;
}
.stud-2-removebg-preview-2-icon7 {
  position: absolute;
  top: 32px;
  left: 136px;
  width: 176px;
  height: 88px;
  object-fit: cover;
  cursor: pointer;
}
.home5 {
  left: 388px;
}
.home5,
.jobs-and-internships5,
.my-jobs5,
.reports5 {
  position: absolute;
  top: 76px;
  font-size: var(--font-size-xl);
  cursor: pointer;
}
.jobs-and-internships5 {
  left: 478px;
}
.my-jobs5 {
  left: 692px;
}
.reports5 {
  left: 813px;
}
.payment-card-item {
  position: absolute;
  top: 73px;
  left: 929px;
  border-radius: var(--br-3xl);
  background-color: var(--color-gainsboro-600);
  width: 362px;
  height: 30px;
}
.search-jobs5 {
  position: absolute;
  top: 82px;
  left: 959px;
  font-size: var(--font-size-smi);
  color: var(--color-gray-500);
  display: inline-block;
  width: 96px;
  height: 13px;
}
.vector-icon11 {
  position: absolute;
  height: 2.41%;
  width: 1.53%;
  top: 8.4%;
  right: 6.45%;
  bottom: 89.19%;
  left: 92.02%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.payment-card-inner,
.vector-icon12 {
  position: absolute;
  top: 68px;
  left: 1343px;
  width: 52px;
  height: 44px;
}
.vector-icon12 {
  height: 3.32%;
  width: 2.5%;
  top: 7.2%;
  right: 2.28%;
  bottom: 89.48%;
  left: 95.22%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.billing-and-payment6 {
  position: absolute;
  top: 167px;
  display: inline-block;
  height: 39px;
}
.billing-and-payment6,
.billing-and-payment7 {
  font-size: var(--font-size-14xl);
}
.billing-and-payment7,
.billing-info3,
.payment3,
.settings5 {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.settings5 {
  top: 167px;
  left: 162px;
  font-size: var(--font-size-14xl);
  width: 123px;
}
.billing-and-payment6,
.billing-and-payment7 {
  left: 442px;
  width: 437px;
}
.payment3 {
  width: 437px;
}
.billing-and-payment7 {
  top: 168px;
}
.payment3 {
  top: 262px;
  left: 467px;
  font-size: var(--font-size-9xl);
}
.billing-info3 {
  top: 526px;
  left: 517px;
  font-size: var(--font-size-5xl);
  width: 122px;
}
.add-new-card,
.full-name3 {
  left: 487px;
  width: 167px;
  height: 39px;
}
.full-name3 {
  position: absolute;
  top: 572px;
  display: inline-block;
}
.add-new-card {
  top: 480px;
  font-size: var(--font-size-3xs);
}
.add-new-card,
.batangas6,
.mark-vincent-gallemit5 {
  position: absolute;
  display: inline-block;
}
.mark-vincent-gallemit5 {
  top: 608px;
  left: 499px;
  color: var(--color-gray-1000);
  width: 251px;
  height: 39px;
}
.batangas6 {
  top: 695px;
}
.batangas6,
.batangas7,
.philippines3 {
  left: 499px;
  color: var(--color-gray-1000);
  width: 167px;
  height: 39px;
}
.batangas7 {
  position: absolute;
  top: 781px;
  display: inline-block;
}
.philippines3 {
  top: 868px;
}
.billing5,
.div16,
.philippines3,
.user-settings5 {
  position: absolute;
  display: inline-block;
}
.div16 {
  top: 781px;
  left: 679px;
  color: var(--color-gray-1000);
  width: 167px;
  height: 39px;
}
.billing5,
.user-settings5 {
  top: 234px;
  left: 162px;
  font-size: var(--font-size-26xl);
  width: 158px;
  height: 41px;
}
.user-settings5 {
  top: 389px;
}
.payment-card-child1 {
  position: absolute;
  top: 312.48px;
  left: 162px;
  border-right: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 1px;
  height: 53.02px;
}
.payment-card-child2 {
  position: absolute;
  top: 505.98px;
  left: 161px;
  width: 1.5px;
  height: 289.02px;
}
.billing-payments5 {
  position: absolute;
  top: 327px;
  left: 178px;
  font-size: var(--font-size-xl);
  color: var(--color-blue-300);
}
.contact-info5 {
  top: 516px;
}
.contact-info5,
.my-profile7,
.notification-settings5,
.profile-settings5,
.tax-information5 {
  position: absolute;
  left: 178px;
  font-size: var(--font-size-xl);
  color: var(--color-gray-600);
}
.tax-information5 {
  top: 574px;
}
.notification-settings5 {
  top: 761px;
}
.my-profile7 {
  top: 636px;
  cursor: pointer;
}
.profile-settings5 {
  cursor: pointer;
  top: 701px;
}
.payment-card-child3 {
  position: absolute;
  top: 244px;
  left: 432px;
  border-radius: var(--br-10xl);
  width: 882px;
  height: 730px;
}
.payment-card-child4 {
  position: absolute;
  top: 598px;
  left: 487px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.cardholders-name,
.mark-vincent-gallemit6 {
  position: absolute;
  top: 572px;
  left: 927px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.mark-vincent-gallemit6 {
  top: 608px;
  left: 939px;
  color: var(--color-gray-1000);
  width: 215px;
}
.payment-card-child5 {
  position: absolute;
  top: 598px;
  left: 927px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.billing-address3 {
  position: absolute;
  top: 659px;
  left: 487px;
  display: inline-block;
  width: 167px;
}
.payment-card-child6 {
  position: absolute;
  top: 685px;
  left: 487px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.card-number,
.wwww-xxxx-yyyy-zzzz {
  position: absolute;
  display: inline-block;
  height: 39px;
}
.wwww-xxxx-yyyy-zzzz {
  top: 695px;
  left: 938px;
  color: var(--color-gray-1000);
  width: 216px;
}
.card-number {
  top: 659px;
  left: 926px;
  width: 167px;
}
.payment-card-child7 {
  position: absolute;
  top: 685px;
  left: 926px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.city3,
.zip-code3 {
  position: absolute;
  top: 745px;
  left: 487px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.zip-code3 {
  left: 667px;
}
.payment-card-child8,
.payment-card-child9 {
  position: absolute;
  top: 771px;
  left: 487px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.payment-card-child9 {
  top: 772px;
  left: 667px;
  width: 183px;
}
.div17 {
  top: 781px;
  left: 938px;
  color: var(--color-gray-1000);
}
.div17,
.div18,
.exp-month,
.exp-year {
  position: absolute;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.div18 {
  top: 781px;
  left: 1118px;
  color: var(--color-gray-1000);
}
.exp-month {
  top: 745px;
  left: 926px;
}
.exp-year {
  top: 745px;
  left: 1106px;
}
.payment-card-child10,
.payment-card-child11 {
  position: absolute;
  top: 771px;
  left: 926px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.payment-card-child11 {
  top: 772px;
  left: 1106px;
  width: 183px;
}
.country3 {
  position: absolute;
  top: 831px;
  left: 487px;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.payment-card-child12 {
  position: absolute;
  top: 857px;
  left: 487px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.cvc-number,
.div19 {
  position: absolute;
  display: inline-block;
  width: 167px;
  height: 39px;
}
.div19 {
  top: 868px;
  left: 939px;
  color: var(--color-gray-1000);
}
.cvc-number {
  top: 831px;
  left: 927px;
}
.payment-card-child13 {
  position: absolute;
  top: 857px;
  left: 927px;
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-800);
  border: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 363px;
  height: 40px;
}
.payment-card-child14 {
  left: 669px;
}
.payment-card-child14,
.payment-card-child15,
.payment-card-child16 {
  position: absolute;
  top: 348px;
  border-radius: var(--br-5xs);
  width: 188px;
  height: 110px;
  cursor: pointer;
}
.payment-card-child15 {
  left: 879px;
}
.payment-card-child16 {
  left: 1089px;
}
.choose-payment-below3,
.gcash3,
.paypal3 {
  font-size: var(--font-size-lgi);
  color: var(--color-gray-900);
}
.choose-payment-below3 {
  position: absolute;
  top: 304px;
  left: 467px;
  display: inline-block;
  width: 196px;
  height: 24px;
}
.gcash3,
.paypal3 {
  width: 68px;
}
.paypal3 {
  position: absolute;
  top: 417px;
  left: 733px;
  display: inline-block;
  height: 24px;
}
.gcash3 {
  top: 416px;
  left: 948px;
}
.creditdebit-card3,
.gcash3,
.money-remittance-center3 {
  position: absolute;
  display: inline-block;
  height: 24px;
}
.creditdebit-card3 {
  top: 420px;
  left: 481px;
  font-size: var(--font-size-lgi);
  width: 142px;
}
.money-remittance-center3 {
  top: 422px;
  left: 1102px;
  color: var(--color-gray-900);
  width: 185px;
}
.gcashlogo1-vector-gcash-logo-h-icon3 {
  position: absolute;
  top: 356px;
  left: 901px;
  width: 144.15px;
  height: 70px;
  object-fit: cover;
}
.download-removebg-preview-remo-icon3 {
  position: absolute;
  top: 340px;
  left: 1133px;
  width: 102.94px;
  height: 84px;
  object-fit: cover;
}
.payment-card-child17 {
  position: absolute;
  top: 526px;
  left: 475px;
  width: 33px;
  height: 33px;
}
.credit-card-info {
  position: absolute;
  top: 528px;
  left: 957px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 197px;
  height: 39px;
}
.payment-card-child18 {
  position: absolute;
  top: 526px;
  left: 916px;
  width: 33px;
  height: 33px;
}
.div20,
.div21 {
  position: absolute;
  top: 527px;
  left: 487px;
  font-size: var(--font-size-6xl);
}
.div21 {
  left: 926px;
}
.payment-card-child19 {
  position: absolute;
  top: 912.5px;
  left: 790.5px;
  border-radius: var(--br-31xl);
  width: 204px;
  height: 52px;
  cursor: pointer;
}
.proceed3 {
  position: absolute;
  top: 925px;
  left: 848px;
  font-size: var(--font-size-xl);
  display: inline-block;
  color: var(--color-white);
  width: 132px;
  height: 8px;
}
.image-6-icon4 {
  top: 691px;
  left: 819px;
  width: 26px;
  height: 28px;
}
.icon3,
.image-15-icon,
.image-16-icon,
.image-6-icon4 {
  position: absolute;
  object-fit: cover;
}
.image-15-icon,
.image-16-icon {
  top: 472px;
  left: 629px;
  width: 50px;
  height: 38px;
}
.image-16-icon {
  top: 468px;
  left: 575px;
  height: 43.52px;
}
.icon3 {
  top: 361px;
  left: 694px;
  width: 141.61px;
  height: 70px;
}
.image-17-icon {
  position: absolute;
  object-fit: cover;
}
.screenshot-2023-03-21-090634-r-icon3 {
  position: absolute;
  top: 348px;
  left: 503px;
  width: 99.66px;
  height: 70px;
  object-fit: cover;
}
.image-17-icon {
  top: 471px;
  left: 683px;
  width: 50px;
  height: 39.81px;
}
.payment-card {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-cabin);
}
